{% include 'layout.html'%}

<div class="container">
    <div class="card">
        <div class="card-header">
            Change Password
        </div>
        <div class="card-body">
            {%if msg%}
                <div class="alert alert-danger" role="alert">
                {{msg}}
                </div>
            {%endif%}
            <form method="POST" action="/user/change_password">
                <div class="form-group">
                    <label>Old password</label>
                    <input type="text" class="form-control"
                           name="old_password" required>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="text" class="form-control"
                           name="new_password" required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
                <button onclick="window.location.href='/home'" class="btn btn-primary">Back to home</button>
            </form>
        </div>
    </div>
</div>